# The port Hono actually runs on (internal)
PORT=3001
NODE_ENV="development" or

# Core Database & Cache (Used by Hono at runtime)
DATABASE_URL="postgresql://postgres:password@localhost:5432/starter_db"
REDIS_URL="redis://127.0.0.1:6379"

# Better Auth Configuration
BETTER_AUTH_SECRET="openssl rand -base64 32"
# Better Auth treats the Next.js proxy as its base URL
BETTER_AUTH_URL="http://localhost:3001"

# CORS Security (The frontend talks to itself using reverse proxy)
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google OAuth 2.0
GOOGLE_CLIENT_ID="console.cloud.google.com"
GOOGLE_CLIENT_SECRET="console.cloud.google.com"

# Transactional Email (Resend)
RESEND_API_KEY=""

# Object Storage (Cloudflare R2)
R2_BUCKET_NAME="starter-uploads"
R2_ACCOUNT_ID="your_cloudflare_account_id"
R2_ACCESS_KEY_ID="your_r2_access_key"
R2_SECRET_ACCESS_KEY="your_r2_secret_key"

# The public URL Cloudflare gives you to view files
NEXT_PUBLIC_R2_PUBLIC_URL="https://pub-xxxxxxxxxx.r2.dev"
